
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f5f5f5; 
}


.hamburger-container {
    position: relative; 
    z-index: 100;      
}

/* Contenedor principal */
.catalogo {
    padding: 30px 40px;
    width: 100%;
    flex: 1; 
    box-sizing: border-box;
}

/*  Buscador  */
.buscador {
    display: flex;
    width: 60%;
    margin: 0 auto 40px auto;
    border: 1px solid #bfbfbf;
    background: #fff;
}

.buscador input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.buscador button {
    width: 45px;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

/* Grid de tarjetas  */
.grid-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 40px;
    width: 100%;
}

/* Tarjetas */
.tarjeta {
    display: block;
    text-decoration: none;
    background: #c7c7c7;
    padding: 20px;
    text-align: center;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.3s;
    border-radius: 6px;
}

.tarjeta:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px #0003;
}

/* Imagen dentro de la tarjeta */
.tarjeta .imagen {
    width: 100%;
    padding-top: 100%; 
    background: #00c400;
    background-size: cover;
    background-position: center;
    border: 2px solid #00c400;
    border-radius: 4px;
}

/* Texto de la tarjeta */
.titulo {
    margin-top: 10px;
    font-size: 18px;
}

.precio {
    margin-top: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #222;
}


/* Filtro por género */
.filtro-genero {
    width: 60%;
    margin: 0 auto 30px auto;
    text-align: center;
}

.filtro-genero select {
    width: 100%;
    padding: 12px;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    font-size: 16px;
    background: white;
}
