body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

/* Tarjetas */
.card {
    background: #c7c7c7;
    padding: 20px;
    width: 300px;
    max-width: 90%;
    border-radius: 8px;
    box-sizing: border-box;
}

.card h3 {
    margin-bottom: 10px;
}

.card input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background: #222;
    color: white;
    font-size: 14px;
}

button {
    padding: 12px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #333;
}

/* Link de login */
.login-link {
    margin-top: 25px;
    font-size: 16px;
}

.login-link a {
    color: #0066ff;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

/* RESPONSIVE PARA MÓVILES */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}



html, body {
    height: 100%;
}

/* Hacer que el contenido principal ocupe el espacio entre header y footer */
body {
    display: flex;
    flex-direction: column;
}


.container {
    flex: 1;                
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 20px;
}

/* Ajustar el bloque de título + subtítulo */
h2 {
    margin-top: 40px;
}

p {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Evitar que el footer suba si hay poco contenido */
footer {
    margin-top: auto;
}
